.const {
    padding: 0.5em;
    margin: 0,1em;
    font-style: normal;
    
}

.message {
    padding: 1em;
    background-color: pink;
    margin-bottom: 1em;
  }

  .input > label {
      display: inline-block;
      width: 15em;
      padding: 0.5em;
      font-weight: bold;
  }

  .input > input[type="text"] {
      padding: 0.5em;
      margin: 0.5em;
  }


.widgets {
    background-color: lightseagreen;
    border-radius: 0.5em;
    display: flex;
}

.widget {
    flex: 1;
    border: 1px solid lightseagreen;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
}


h1 {
    text-align: center;
    background-color: lightseagreen;
    border-radius: 0.5em;
}

@media(min-width:960px){
    .widgets{
        display: flex;   
    }   
}


@media (min-width: 500px){
    body { 
   background-color:pink;
}
}
    
span {
    background-color: pink;
  }
  
  span>span {
    margin: .5em;
  }
  
  body {
    background-color: bisque;
  }